<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739895109959-50sv8nj73beprqajrtacbeajeulkit0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739895109959-50sv8nj73beprqajrtacbeajeulkit0l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>739895109959-ttkrqb8qq60n4bg6iqk66f3gq7ogmcpm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAshh1lOAxvOXrSrBc8P8G7y0F6mle_Apw</string>
	<key>GCM_SENDER_ID</key>
	<string>739895109959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fanpageApp</string>
	<key>PROJECT_ID</key>
	<string>my-fanpage-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-fanpage-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739895109959:ios:e68df06452e52797d4c462</string>
</dict>
</plist>